﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
@{ 
        var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<li>
    <article>
        <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)">
            <img data-test-selector="imgCategoryImage" id="@Model.CategoryId" src="@Model.ImageSmallPath" class="img-responsive" data-src="@Model.ImageSmallPath" />
            <label data-test-selector="lblCategoryName">@WebUtility.HtmlDecode(Model.CategoryName)</label>
        </a>
    </article>
</li>

