﻿@using Znode.Engine.WebStore.ViewModels

@model CategoryHeaderListViewModel

@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}

<div class="row">
    <div class="mega-menu col-12 p-0" data-test-selector="divMegaMenu">
        <div class="d-flex justify-content-between d-lg-none header">
            <label class="mb-0">
                @WebStore_Resources.LinkTextShopDepartments
            </label>
            <label class="mb-0" onclick="closeNav()">
                @WebStore_Resources.LinkTextClose
            </label>
        </div>

        <div id="megaNav" class="sidenav" data-test-selector="divMegaNav">

            <div class="leftnav" id="leftnav" data-test-selector="divLeftNav">

                <div class="mt-4">

                    @foreach (var category in Model.Categories)
                    {
                        string categoryName = category.CategoryName?.Replace(" ", "");

                        <a href="@Url.GetCategoryUrl(category.SEOPageName, null, category.CategoryId)" class="tablinks" onmouseover="openRightNav(event, '@categoryName')" data-test-selector="linkParentPage_@categoryName">
                            @Html.RenderBlock(WebUtility.HtmlDecode(category.CategoryName))
                        </a>

                    }
                </div>
            </div>
            <div class="rightnav" id="rightnav" data-test-selector="divRightNav">

                @foreach (var category in Model.Categories)
                {
                    string categoryName = category.CategoryName?.Replace(" ", "");
                    <div id="@categoryName" class="tabcontent" data-test-selector="div_@categoryName">

                        <div class="d-flex justify-content-between d-lg-none header">
                            <label class="mb-0">
                                @Html.RenderBlock(WebUtility.HtmlDecode(categoryName))
                            </label>
                            <label class="mb-0" onclick="closeRightnav()">
                                <i class="zf-arrow-left mr-2"></i> Back
                            </label>
                        </div>
                        @foreach (var subCategory in category.SubCategoryItems)
                        {
                            string subCategoryName = subCategory.CategoryName?.Replace(" ", "");
                            <div class="row py-4 px-5">
                                <div class="col-12 col-lg-2 p-0">
                                    <ul class="sub-menu" data-test-selector="listContainer_@subCategoryName">
                                        <li class="head" data-test-selector="list_@subCategoryName">
                                            <a href="@domainurl@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" data-test-selector="listSubPage_@subCategoryName">@Html.RenderBlock(WebUtility.HtmlDecode(subCategory.CategoryName))</a>
                                            @Html.Partial("_HeaderMegaMenuSubNav", subCategory.ChildCategoryItems)

                                        </li>
                                    </ul>
                                </div>

                            </div>
                        }
                    </div>

                }

            </div>

        </div>
    </div>
</div>
