﻿@using Znode.Engine.WebStore.ViewModels
@model List<CategoryViewModel>
@if (Model?.Count > 0)
{ 
    <div class="col-xs-12 product-grid category-list nopadding">
        <div id="accordion-category" class="collapse in">
            <div class="col-xs-12 product-view nopadding">
                <div class="col-xs-12 product-view nopadding">
                    <ul id="view-option-category" class="product-grid-ul grid-view">
                        @foreach (var _category in Model)
                        {
                            @Html.Partial("_CategoryGridRow", _category)
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="product-grid"></div>
}

    <script async>
        $(document).ready(function () {

            $(".categoryhead").text($(".CategoryTitle").text());
            $(".SubCategoryListItem").each(function () {
                $(".filter-list").append('<li class="listnew"><span class="Rightarrow">» </span><a class="categorysubhead" href=' + $(this).find('a').attr('href') + '>' + $(this).attr('title') + '</a></li>');
            });

        })
    </script>