﻿@using Znode.Engine.WebStore.ViewModels
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
@model IEnumerable<CategorySubHeaderViewModel>
@{int countRow = 0;
    string CategoryName = Convert.ToString(ViewData["CategoryName"]);
	CategoryName = CategoryName.Replace(" ", "");
}
@{

}
@foreach (var subCategory in Model)
{
    string catname = subCategory.Attributes.FirstOrDefault(w => w.AttributeCode == "CategoryNavName")?.AttributeValues;
    string visibleInNav = subCategory.Attributes.FirstOrDefault(w => w.AttributeCode == "IsUsedInNavigation")?.AttributeValues;
    int Rowcount = subCategory.ChildCategoryItems.Count();
    countRow += 1;
    string Id = CategoryName + "_" + subCategory.CategoryName.Replace(" ", "").Replace("&", "") + countRow.ToString();
    //string Id ="0";
    if (visibleInNav == "true" || visibleInNav == "1")
    {
        <div class="panel-group" id="accordion456" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        @if (Rowcount == 0)
                        {
                            <a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" class="iconnone" title="@WebUtility.HtmlDecode(catname)">
                                @WebUtility.HtmlDecode(catname)
                            </a>
                        }
                        else
                        {
                            <a class="collapsed submenuhead" data-toggle="collapse" title="@WebUtility.HtmlDecode(catname)" data-parent="#accordion456" data-rowcount="@Rowcount" href="#@Id" aria-expanded="false" aria-controls="@Id">
                                @WebUtility.HtmlDecode(catname)
                            </a>
                        }

                    </h4>

                </div>
                <div id="@Id" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <ul class="content-menu">
                            @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
                            {
                                @Html.Partial("_MobileSubNav2", subCategory.ChildCategoryItems)
                            }
                        </ul>
                    </div>
                    <div class="col-xs-12 nopadding"><a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)" class="mobileViewallsubnave" title="VIEW ALL"> VIEW ALL</a></div>
                </div>
            </div>
        </div>
    }

}

