﻿@using Znode.Engine.WebStore.ViewModels
@model  List<ProductReviewViewModel>
<div id="layout-account-reviewhistory" class="main-wrapper">

    <div class="container">
        <div class="user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="PageTitle">@WebStore_Resources.TitleReviewHistory</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding leftmenu">                    
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 review-history right-container">

                    <h3 class="section-header">@string.Format(WebStore_Resources.SubTextReviewProducts, (Model?.Count > 0 ? Model.Count : 0))</h3>

                    @if (Model?.Count > 0)
                    {
                        <p>
                            @WebStore_Resources.SubTextReviewHistory
                        </p>
                        <ul class="review-item">
                            @foreach (var item in Model)
                            {

                                <li class="review-item-detail">
                                    <a href="@Url.GetProductUrl(item.SEOUrl, item.PublishProductId.ToString())" class="review-item-title underline">
                                        @WebUtility.HtmlDecode(item.ProductName)
                                    </a>
                                    @Html.Partial("../Product/_ReviewRow", item)
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="col-xs-12 nopadding">
                            <p class="text-center">@WebStore_Resources.ErrorNoReviewsFound</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
