﻿@using Znode.Engine.WebStore.ViewModels
@model List<LinkProductViewModel>

<!---Link Product Widget Such as You may also like, Frequently bought like product List-->
@{bool navigationFlag = false; }
@if (Model?.Count > 0)
{
    int counter = 0;
    var dataTestSelector = "";
    foreach (var p in Model)
    {
        navigationFlag = p?.PublishProduct?.Count > 6 ? true : false;
        string _id = $"Link_Products_Widget{counter++}";
        if (p?.PublishProduct?.Count > 0)
        {
            dataTestSelector = "hdg" + p.AttributeName;
            <div class="CustomTitle">
                <div>@p.AttributeName</div>
            </div>
        }
            <div class="owl-carousel owl-theme Link_Products_Widget" id="@_id">
                @foreach (var item in p.PublishProduct?.GroupBy(x => x.PublishProductId).Select(y => y.FirstOrDefault()))
                {
                    @Html.Partial("../Product/_LinkedProductList", item)
                }
            </div>
        <script>
            $('#@_id').owlCarousel({
                loop: true,
                margin: 10,
                navigation: false,
                navigationText: [
                    "<i class='fa fa-arrow-left'></i>",
                    "<i class='fa fa-arrow-right'></i>"
                ],
                itemsCustom: [
                  [0, 1],
                  [320, 1],
                  [480, 1],
                  [600, 3],
                  [768, 3],
                  [992, 5],
                  [1200, 5]
                ],
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        </script>
		break;
    }
}

        <script>
            jQuery("img").on("error", function (a) { this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png" }), $(document).ready(function () { });
        </script>