﻿@using Znode.Engine.WebStore.ViewModels
@model PaymentSettingViewModel

<div id="payWithAmazonDiv" style="display:none"> </div>
@if (!Equals(Model, null))
{
    <script>
    window.onAmazonLoginReady = function () {
        amazon.Login.setClientId("@Model.TransactionKey");
    };
    </script>
    if (Model.TestMode)
    {
        <script type='text/javascript' src="https://static-na.payments-amazon.com/OffAmazonPayments/us/sandbox/js/Widgets.js"></script>
    }
    else
    {
        <script type='text/javascript' src="https://static-na.payments-amazon.com/OffAmazonPayments/us/js/Widgets.js"></script>
    }
    <script type="text/javascript">

    OffAmazonPayments.Button("payWithAmazonDiv", "@Model.GatewayUsername", {
        type: "PwA",
        useAmazonAddressBook: true,
        authorization: function () {
            amazon.Login.authorize({ scope: "profile payments:widget payments:shipping_address" },
            document.location.origin + "/Checkout/GetAddressDetails?paymentSettingId=" + @Model.PaymentSettingId + "&paymentCode=" + '@Model.PaymentCode' + "&clientId=" + '@Model.TransactionKey' + "&sellerId=" + '@Model.GatewayUsername'+ "&testMode=" + '@Model.TestMode');
        },
        onError: function (error) {
            alert(error.getErrorCode() + ": " + error.getErrorMessage());
        }
    });
    </script>
}