﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (Session["FirstName"] != null)
    {
<span class="LoginText">@Html.ActionLink("Hi " + Session["FirstName"].ToString()+"!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username white-text", title = "Manage account", @data_test_selector = "txtUserName" })</span>
    }
    else
    {
<span class="LoginText">@Html.ActionLink("Hi User!", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username white-text", title = "Manage account", @data_test_selector = "txtUserName" })</span>
    }

}
else
{
<span><a href="javascript:void(0)" title="User Login" class="LogButton white-text" onclick="User.prototype.LoginMethod()" id="loginLink" data-test-selector="linkLoginLink">@WebStore_Resources.LabelLoginStatus</a></span>
}
