﻿@using Znode.Engine.WebStore.Models
@model List<BaseDropDownOptions>
@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@{
    int userId = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.UserId ?? 0;
    var billingAccountNumber = SessionProxyHelper.GetBillingAccountNumber(SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.UserId ?? 0);
    string _disablePayment = !string.IsNullOrEmpty(Convert.ToString(Request.QueryString["QuoteId"])) ? "disabled='disabled'" : "";
    int quoteId = Convert.ToInt32(Request.QueryString["QuoteId"] ?? "0");
}
<div class="col-xs-12 nopadding" id="allPaymentOptionsDiv">
    <h3 class="title"><span id="paymentOptionSrNo" class="checkoutBoxSrNo"></span>@WebStore_Resources.SinglePageCheckoutPaymentMethod</h3>
    <div class="address-block-padding ShowPaymentPanel">
        @using (Ajax.BeginForm("GetPaymentProvider", "Checkout", new AjaxOptions() { UpdateTargetId = "payment-provider-content" }))
        {
            @Html.Hidden("paymentOptionsId", new { @id = "paymentOptionsId" })
            BaseDropDownOptions creditCard = Model.Where(x => x.Text == "Credit Card").FirstOrDefault();
            if (creditCard != null)
            {
                <div class="col-xs-12 nopadding styled-input margin-bottom-5">
                    <input type="radio" @_disablePayment id="@creditCard.Type@creditCard.Id" data-test-selector="@creditCard.Type@creditCard.Id" checked data-isApprovalRequired="@creditCard.Status" data-paymentGroupId=@creditCard.PortalPaymentGroupId data-payment-type="@creditCard.Type" data-isOABRequired="@creditCard.CustomStatus" name="PaymentOptions" value="@creditCard.Value" onclick="Checkout.prototype.ShowPaymentOptions(this);" />
                    <label class="set-radio-btn" for="@creditCard.Type@creditCard.Id">@creditCard.Text</label>
                </div>
            }
            foreach (var option in Model)
            {
                if (option.Text != "Credit Card")
                {
                    <div class="col-xs-12 nopadding styled-input margin-bottom-5">
                        <input type="radio" @_disablePayment id="@option.Type@option.Id" data-test-selector="@option.Type@option.Id" @((quoteId > 0 && option.IsSelected) ? $"checked='{option.IsSelected}'" : string.Empty) data-isApprovalRequired="@option.Status" data-paymentGroupId=@option.PortalPaymentGroupId data-payment-type="@option.Type" data-isOABRequired="@option.CustomStatus" name="PaymentOptions" value="@option.Value" onclick="Checkout.prototype.ShowPaymentOptions(this);" />
                        <label class="set-radio-btn" for="@option.Type@option.Id">@option.Text</label>
                    </div>
                }
            }

            <div id="div-CreditCard" class="credit-card-container HidePaymentTypeDiv">
                <div class="col-xs-12 nopadding">
                    <div class="Tab-container dynamic-tabs margin-top">
                        <ul id="creditCardTab" class="nav nav-tabs">
                            <li class="hidden"><a href="#savedCreditCard-panel" data-toggle="tab" class="tabs">@WebStore_Resources.LabelSavedCC</a></li>
                            <li class="hidden"><a href="#addNewCreditCard-panel" data-toggle="tab" class="tabs">@WebStore_Resources.AddNewCreditCardDetails</a></li>
                        </ul>
                        <div id="creditCardPanel" class="tab-content clearfix">
                            <!--Panels 1-->
                            <div class="tab-pane fade hidden" id="savedCreditCard-panel">
                                <div id="radioCCList">
                                </div>
                            </div>
                            <!--Panels 2-->
                            <div class="tab-pane fade in active" id="addNewCreditCard-panel">
                                <div class="col-sm-12 col-md-8 save-cart nopadding">
                                    <div id="paymentProviders" hidden>
                                    </div>
                                </div>
                                <div id="credit-card-div" class="col-xs-12 col-md-8 nopadding LableForm">
                                    <div class="form-group" id="Save-credit-cardholder-name">
                                        <div class="col-sm-12 nopadding">
                                            <input type="text" id="CardHolderName" data-payment="cardholderName" maxlength="100" class="form-input-long" required="required" data-test-selector="txtCardHolderName" title="@WebStore_Resources.CreditCardHolderName" />
                                            <label for="CardHolderName" placeholder="@WebStore_Resources.CreditCardHolderName"><span>@WebStore_Resources.CreditCardHolderName</span></label>
                                            <div id="errorcardholderName" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorCardHolderName</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 nopadding">
                                            <input type="text" data-payment="number" class="creditCardPayment" maxlength="19" id="CredidCardNumber" required="required" data-test-selector="txtCreditCardNumber" title="@WebStore_Resources.SinglePageCheckoutCreditCardNoTitle" />
                                            <label for="CredidCardNumber" placeholder="@WebStore_Resources.SinglePageCheckoutCreditCardNoTitle"><span>@WebStore_Resources.SinglePageCheckoutCreditCardNoTitle</span></label>
                                            <div id="errornumber" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorCardNumber</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 nopadding">
                                            <div class="col-xs-6 col-lg-4 col-md-4 nopadding-left">
                                                <div class="form-group">
                                                    <input type="text" id="CredidCardExpMonth" maxlength="2" data-payment="exp-month" required="required" class="creditCardPayment" data-test-selector="txtCredidCardExpMonth" title="(MM)" />
                                                    <label for="CredidCardExpMonth" placeholder="(MM)"><span>(MM)</span></label>
                                                    <div id="errormonth" class="field-validation-error" style="display: none">@WebStore_Resources.ValidationEnterValidDate</div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-lg-4 col-md-4 nopadding-right">
                                                <div class="form-group">
                                                    <input type="text" id="CredidCardExpYear" maxlength="4" data-payment="exp-year" required="required" class="creditCardPayment" data-test-selector="txtCredidCardExpYear" title="(YYYY)" />
                                                    <label for="CredidCardExpYear" placeholder="(YYYY)"><span>(YYYY)</span></label>
                                                    <div id="erroryear" class="field-validation-error" style="display: none">@WebStore_Resources.ValidationEnterValidYear</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 nopadding">
                                            <div class="col-xs-12 col-lg-6 col-md-6 nopadding">
                                                <div class="form-group">
                                                    <input type="password" id="CredidCardCVCNumber" data-payment="cvc" maxlength="4" class="creditCardPayment" required="required" data-test-selector="txtCredidCardCVCNumber" />
                                                    <label for="CredidCardCVCNumber" placeholder="@WebStore_Resources.SinglePageCheckoutCreditCardSecurityNo"><span>@WebStore_Resources.SinglePageCheckoutCreditCardSecurityNo</span></label>
                                                    <div id="errorcvc" class="field-validation-error" style="display: none">@WebStore_Resources.ErrorValidCVC</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6"></div>
                                            <div class="col-xs-12 nopadding">
                                                <span class="sub">@WebStore_Resources.HintTextCreditCardSecurityNumber</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group hidden" id="Save-credit-card">
                                        <div class="col-sm-12 nopadding">
                                            <div class="control-md control-non styled-input">
                                                <input id="SaveCreditCard" name="SaveCreditCard" type="checkbox">
                                                <label for="SaveCreditCard">@WebStore_Resources.SaveCreditCardForFutueUse</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Gateway Information*@
                @Html.Hidden("GatewayCurrencyCode", "USD")
                @Html.Hidden("paymentProfileId")
                @Html.Hidden("hdnGatwayName")
                @Html.Hidden("hdnPaymentCode")
                @Html.Hidden("hdnEncryptedTotalAmount")
                @Html.Hidden("BillingAccountNumber", billingAccountNumber)
            </div>
            if (string.IsNullOrEmpty(billingAccountNumber))
            {
                <div class="form-group" id="div-InvoiceMe" style="display:none">
                    <div class="col-xs-12 nopadding styled-input input-checkbox-IsAddUpdateAddress">
                        <input type="checkbox" class="input-checkbox" name="InvoiceMe" id="InvoiceMe" checked="checked" value="true">
                        <label for="InvoiceMe">@Html.RenderMessage(WebStoreConstants.InvoiceMeTextMessage)</label>
                    </div>
                </div>
            }
            @*PayPal Express*@
            <div id="div-PaypalExpress" class="col-sm-12 nopadding HidePaymentTypeDiv" style="display:none;">
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <div class="control-lg control-non">
                            <button id="paypal-express-checkout" type="button"><img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-rect-paypalcheckout-26px.png" alt="PayPal Checkout"></button>
                            <p class="tinyfade margin-top">@Admin_Resources.LabelPaypalDescription</p>
                        </div>
                    </div>
                </div>
            </div>

            @*Amazon Pay *@
            if (!Equals(Model, null) && Model.Any(item => Equals(item.Type.ToLower(), "amazon_pay")))
            {
                Html.RenderAction("AmazonPaymentOptions", "Checkout");
            }
            @Html.Hidden("PaymentSettingId")
        }
        <div id="payment-provider-content">
        </div>
    </div>
</div>
<script>    
    $(document).ready(function () {
        //Show Shippong and Pyament Method on save and Countinue Btn.
        //$(".ShowPaymentPanel").hide();

        $('#CredidCardNumber').payment('formatCardNumber');
        $("#CREDIT_CARDCreditC").prop("checked", true).trigger("click");
    });
</script>
@if (Helper.IsEnhancedEcommerceTrackingEnabled())
{
    <script>
        $('input[name = "PaymentOptions"]').on("click", function () {
            var selectedPaymentOption = $(this).data('display-text');
            GoogleAnalytics.prototype.SendEcommerceCheckoutOptionData(3, selectedPaymentOption);
        })
    </script>
}