﻿@using Znode.Engine.WebStore.ViewModels
@model  List<BrandViewModel>
<div id="Brands" class="main-wrapper">
    <div class="container">
        <div class="row brand-container">
            <div class="col-xs-12">
                <h1 class="CategoryTitle">@WebStore_Resources.TitleShopByBrand</h1>
            </div>
            <div class="col-xs-12">
                <div class="AllBrands">
                    <div class="ShopByBrandNav">
                        <ul class="brand-filter" id="AlphaList">
                            @for (char character = 'A'; character <= 'Z'; character++)
                            {
                                <li class="pull-left margin-top-bottom">
                                    <a href='@string.Format("/Brand/BrandList?brandName={0}", character)'>@character</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 nopadding">
                    <div id="ShopByBrandsContainer">
                        <div id="dvShopByBrandsList">
                            <ul id="lstAlpha-A" class="ShopByBrandColumn">
                                @foreach (var brand in Model)
                                {
                                    if (brand.MediaId > 0)
                                    {
                                        <li>
                                            <a href="@Url.GetBrandUrl(brand.SEOFriendlyPageName, null, brand.BrandId)" data-lightbox="enlarge">
                                                <div>@brand.BrandName</div>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@Url.GetBrandUrl(brand.SEOFriendlyPageName, null, brand.BrandId)" data-lightbox="enlarge">
                                                <div>@brand.BrandName</div>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>