﻿@using Znode.Engine.WebStore.ViewModels
@model  List<BrandViewModel>
@{
    ViewBag.title = "Shop By Brand | Rogan’s Shoes";
    ViewBag.description = "Shop Rogan’s Shoes for the top name brands in shoes and footwear for the entire family";
    //NIVI CODE ADDED FOR BRAND FILTER MENU BAR BY ALPHABETES
    var brandList= Model.OrderBy(x => x.BrandName).ToList();
    //NIVI CODE

}
<div id="Brands" class="main-wrapper">
    <div class="container">
        <div class="row brand-container">
            <div class="col-xs-12">
                <h1 class="CategoryTitle">@WebStore_Resources.TitleShopByBrand</h1>
                <h2 class="hidden">@WebStore_Resources.TitleShopByBrand</h2>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12 nopadding margin-top">
                    <ul id="demoOne" class="demo ShopByBrandColumn">
                        @foreach (var brand in brandList)
                        {
                            if (brand.MediaId > 0)
                            {
                                <li>@brand.WebsiteLink
                                    <a href="/" data-lightbox="enlarge" title="@brand.BrandName" alt="@brand.BrandName">
                                        <div>@brand.BrandName</div>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/@brand.WebsiteLink" data-lightbox="enlarge" title="@brand.BrandName" alt="@brand.BrandName">
                                        <div>@brand.BrandName</div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script async src="~/Views/Themes/RogansShoes/Scripts/lib/CustomizeJS/BrandListJs/jquery-listnav.js"></script>
<script async src="~/Views/Themes/RogansShoes/Scripts/lib/CustomizeJS/BrandListJs/vendor.js"></script>

<script>
    $(function () { $('#demoOne').listnav(); });
</script>



