﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;
@model CartViewModel

@{
    Model.CultureCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
    string _displayGiftCard = (Model?.GiftCardAmount > 0) ? "display:bolck" : "display:none";
    string _displayDiscount = Model?.Discount > 0 ? "display:bolck" : "display:none";
    string estimateCost = string.Format(Admin_Resources.LabelOriginalShippingCost, HelperMethods.FormatPriceWithCurrency(Model.EstimateShippingCost, Model.CultureCode));
}
<div class="col-sm-12 cart-summary">
    <div id="loader-divTotal">@Html.Partial("_Loader")</div>
    <div class="form-group">
        <div class="col-sm-6 col-md-6 nopadding">
            @Html.LabelFor(model => model.SubTotal,new { @data_test_selector = "lblSubTotal"})
        </div>
        <div class="col-sm-6 col-md-6 nopadding">
            <label data-test-selector="lblSpanSubTotal">@HelperMethods.FormatPriceWithCurrency(Model.SubTotal, Model.CultureCode)</label>
            @Html.HiddenFor(model => model.ErrorMessage, new { @id = "hdnShippingErrorMessage" })
            @Html.HiddenFor(model => model.HasError, new { @id = "hdnShippingHasError" })
        </div>
    </div>
    <div class="form-group" style="@_displayDiscount">
        <div class="col-sm-6 col-md-6 nopadding">
            @Html.LabelFor(model => model.Discount,new { @data_test_selector = "lblDiscount" })
        </div>
        <div class="col-sm-6 col-md-6 nopadding">
            <label id="dynamic-discount-amount" data-test-selector="lblSpanDiscount">@HelperMethods.FormatPriceWithCurrency(0 - Model.Discount, Model.CultureCode)</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-md-6 nopadding">
            @Html.LabelFor(model => model.CSRDiscountAmount,new { @data_test_selector = "lblCSRDiscountAmount" })
        </div>
        <div class="col-sm-6 col-md-6 nopadding">
            @Html.Partial("_ManageOrderText", Model)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-md-6 nopadding">
            <label data-test-selector="lblColumnTax">@WebStore_Resources.ColumnTax</label>
        </div>
        <div id="dynamic-Column-Tax" class="col-sm-6 col-md-6 nopadding">
            <label data-test-selector="lblCurrencyCode">@HelperMethods.FormatPriceWithCurrency(Model.TaxCost, Model.CultureCode)</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-md-6 nopadding">
            @if (Convert.ToDecimal(Model.EstimateShippingCost) > 0)
            {
                <label title="@estimateCost" data-test-selector="lblShippingPlusHandling">@Admin_Resources.LabelCustom</label>
            }

            <label data-test-selector="lblShippingPlusHandling">@WebStore_Resources.LabelShippingPlusHandling</label>
        </div>
        <div class="col-sm-6 col-md-6 nopadding">
            @Html.Partial("_ManageOrderShippingHandling", Model)
        </div>
    </div>
    <div class="form-group" style="@_displayGiftCard">
        <div class="col-sm-6 col-md-6 nopadding">
            @Html.LabelFor(model => model.GiftCardAmount,new { @data_test_selector = "lblGiftCardAmount"})
        </div>
        <div class="col-sm-6 col-md-6 nopadding">
            <label id="dynamic-giftcard-amount" data-test-selector="lblGiftcardAmount">@HelperMethods.FormatPriceWithCurrency(0 - Model.GiftCardAmount, Model.CultureCode)</label>
        </div>
    </div>
    <div class="form-group total">
        <div class="col-sm-6 col-md-6 nopadding">
            @Html.LabelFor(model => model.Total,new { @data_test_selector = "lblTotal"})
        </div>
        <div class="col-sm-6 col-md-6 nopadding">
            <label id="dynamic-order-total" data-test-selector="lblSpanTotal">@HelperMethods.FormatPriceWithCurrency(Model.Total, Model.CultureCode)</label>
            @Html.Hidden("hdnTotalOrderAmount", Model.Total)
        </div>
    </div>
</div>

@Html.HiddenFor(model => model.OverDueAmount)
@Html.HiddenFor(model => model.GiftCardApplied, new { @id = "hdnGiftCardApplied" })
@Html.HiddenFor(model => model.GiftCardMessage, new { @id = "hdnGiftCardMessage" })
@Html.HiddenFor(model => model.ErrorMessage, new { @id = "hdnCouponErrorMessage" })
@Html.HiddenFor(model => model.CSRDiscountApplied, new { @id = "hdnCSRDiscountApplied" })
@Html.HiddenFor(model => model.SuccessMessage, new { @id = "hdnCsrSuccessMessage" })
@Html.Hidden("RoundOffDigits", DefaultSettingHelper.DefaultPriceRoundOff, new { @id = "hdnRoundOffDigits" })