﻿@using Znode.Engine.Admin.ViewModels
@model GiftCardListViewModel
@using Znode.Engine.Admin.Models
@{

    ViewBag.Title = Admin_Resources.TitleOMS + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    bool IsGuestUser = Convert.ToBoolean(TempData["IsGuestUser" + @Model?.UserId]);
    string cancelUrl = IsGuestUser ? "/Customer/GuestUserList" : "/Customer/CustomersList";
    string heading = IsGuestUser ? Admin_Resources.LabelGuestUser : Admin_Resources.LabelUser;
}

<div id="@Model.GridModel.FrontObjectName">
    <div class="col-sm-12 title-container">
        <h1>@string.Format(@Admin_Resources.TitleManage, heading)<i class="z-minus"></i><span>@TempData["CustomerDisplayName" + @Model?.UserId]</span></h1>
        <div class="pull-right btn-container">
            <button type="button" class="btn-text-icon" onclick="window.location.href = '@cancelUrl'" data-test-selector="linkBack"><i class='z-back'></i>@Admin_Resources.ButtonBack</button>
         
            <div class="pull-right padding-left">
                @Html.AuthorizedRawActionLink(Admin_Resources.ButtonAdd, "Create", "GiftCard", new {userId = Model?.UserId }, new { @class = "btn-text btn-text-secondary", @data_test_selector = "linkAddNew" })
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <aside>
            @Html.Partial("~/views/User/_asidecustomermanagepanel.cshtml")
        </aside>
        <!--Main Container-->
        <section class="main-container">
            @using (Ajax.BeginForm(actionName, controllerName, new { userId = Model?.UserId, isExcludeExpired = Model.IsExcludeExpired }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model?.GridModel?.FilterColumn)
                </div>
            }

            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model?.GridModel)
                }
            </div>

            <div class="expired-gift-card">
                @Html.DropDownList("ExpiredGiftCard", new[] {
                               new SelectListItem() {Text = "Exclude Expired", Value = "ExcludeExpired", Selected = Model.IsExcludeExpired ? true : false },
                               new SelectListItem() {Text = "All", Value = "All",Selected = Model.IsExcludeExpired ? false : true} }, new { @id = "ExpiredGiftCard", @OnChange = "GiftCard.prototype.GetListBasedOnSelection();" })
            </div>
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                              new PopupModel()
                              {
                                  Title = @Admin_Resources.ConfirmText,
                                  Description = @Admin_Resources.ActivateMultipleVoucherConfirmationMessage,
                                  ModalPopUpId = "ActivateVoucher",
                                  Buttons = new List<PopUpButtonModel> () {
                                  new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "GiftCard.prototype.ActivateVouchers(this)"}
                                  }
                              })
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                            new PopupModel()
                            {
                                Title = @Admin_Resources.ConfirmText,
                                Description = @Admin_Resources.DeactivateMultipleVoucherConfirmationMessage,
                                ModalPopUpId = "DeactivateVoucher",
                                Buttons = new List<PopUpButtonModel> () {
                                new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "GiftCard.prototype.DeactivateVouchers(this)"}
                                }
                            })
            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                       new PopupModel()
                        {
                           Title = @Admin_Resources.ConfirmText,

                           Description = @Admin_Resources.ActivateVoucherConfirmationMessage,
                           ModalPopUpId = "PopUpConfirmDisable",
                           Buttons = new List<PopUpButtonModel>() { new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes = "data-dismiss=modal", OnClickFunctionName = "GiftCard.prototype.ActivateVouchers(this)" } }
                         })

            @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.ConfirmText,
                        Description = @Admin_Resources.DeactivateVoucherConfirmationMessage,
                        ModalPopUpId = "PopUpConfirmEnable",
                        Buttons = new List<PopUpButtonModel>
                        () { new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes = "data-dismiss=modal", OnClickFunctionName = "GiftCard.prototype.DeactivateVouchers(this)" } }
                    })

            @Html.HiddenFor(m => m.IsExcludeExpired)
        </section>
    </div>

    </div>
</div>
<script>
    $(document).ready(function () {      
        $('.z-enable').attr('title', 'Deactivate');      
    });
</script>