﻿<div class="manage-order-tabs">
    <ul class="nav nav-tabs" id="OrderAsidePannel">

        <!-- Tabs button Starts -->
        <li id="customer-tab-link" class="active">
            <a data-toggle="tab" href="#customer-tab" data-attr="data-toggle-tab">@Admin_Resources.CustomerHeader</a>
        </li>

        <li id="shipping-cart-tab-link" class="disabled">
            <a data-toggle="tab" href="#shipping-cart-tab" data-attr="data-toggle-tab">@Admin_Resources.LabelCartAndShipping</a>
        </li>

        <li id="payment-tab-link" class="disabled">
            <a data-toggle="tab" href="#payment-tab" data-attr="data-toggle-tab">@Admin_Resources.LabelNotes</a>
        </li>

        <li id="review-placeorder-tab-link" class="disabled">
            <a data-toggle="tab" href="#review-placeorder-tab" data-attr="data-toggle-tab">@Admin_Resources.LabelReviewAndPlaceQuote</a>
        </li>
        <!-- Tabs button Ends -->
        <!-- Next tab option button Starts -->
        <a class="btn-text btn-text-secondary pull-right" id="btnNextTab" data-test-selector="btnNextTabSelect" onclick="OrderTabs.prototype.ContinueOrder();">
            <span>@Admin_Resources.LabelNext </span>
            <span id="btnNextTabName">@Admin_Resources.LabelAddProduct</span>
        </a>
        <!-- Next tab option button Ends -->
        <!-- Place Quote button Starts -->
        <a class="btn-text btn-text-secondary pull-right" style="display:none" id="btnPlaceOrder" data-test-selector="btnPlaceQuote" onclick="Quote.prototype.SubmitQuote();">
            @Admin_Resources.LabelSaveQuote
        </a>
        <!-- Place Quote button Ends -->

    </ul>

</div>




