﻿@using Znode.Engine.WebStore.ViewModels

@model CaseRequestViewModel
@{
    ViewBag.Title = "Contact Information | Rogan’s Shoes";
    ViewBag.Description = "Contact information for Rogan’s Shoes";
}
<div id="layout-contactus" class="main-wrapper">
    <div class="container ContentContainer">
        <div class="contain-pages">
            <div class="col-xs-12 PageTitle setpadding">
                <h1>@Html.RenderMessage("ContactUsHead")</h1>
                <h2 class="hidden">@Html.RenderMessage("ContactUsHead")</h2>
            </div>
            <div class="Form LableForm col-xs-12 col-md-12 col-lg-7 nopadding">
                @using (Html.BeginForm("contactus", "CaseRequest", FormMethod.Post, new { @id = "frmCreateCaseRequest" }))
                {
                    @Html.AntiForgeryToken()
                    <p class="margin-bottom" data-test-selector="lblContactUsMessage">@WebStore_Resources.HeaderTextContactUs</p>

                    <div class="col-lg-12 nopadding">
                        @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName1", @required = "required", @data_test_selector = "txtFirstName", @title = @WebStore_Resources.LabelFirstNameTitle, @atl = @WebStore_Resources.LabelFirstNameAlt })
                        <label for="valFirstName1" placeholder="@WebStore_Resources.LabelFirstName" data-test-selector="lblFirstName"><span>@WebStore_Resources.LabelFirstName</span></label>
                        <span id="valFirstNameErr1" class="field-validation-error" data-test-selector="lblValFirstNameErrMsg"></span>
                    </div>
                    <div class="col-lg-12 nopadding">
                        @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName2", @required = "required", @data_test_selector = "txtLastName", @title = @WebStore_Resources.LabelLastNameTitle, @alt = @WebStore_Resources.LabelLastNameAlt })
                        <label for="valLastName2" placeholder="@WebStore_Resources.LabelLastName" data-test-selector="lblLastName"><span>@WebStore_Resources.LabelLastName</span></label>
                        <span id="valLastNameErr2" class="field-validation-error" data-test-selector="lblValLastNameErrMsg"></span>
                    </div>
                    <div class="col-lg-12 nopadding">
                        @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = 100, @id = "CompanyName", @required = "required", @data_test_selector = "txtCompanyName", @title = @WebStore_Resources.ColumnCompanyNameTitle, @alt = @WebStore_Resources.ColumnCompanyNameAlt })
                        <label for="CompanyName" placeholder="@WebStore_Resources.ColumnCompanyNameContactUs" data-test-selector="lblCompanyName"><span>@WebStore_Resources.ColumnCompanyNameContactUs</span></label>
                    </div>
                    <div class="col-lg-12 nopadding">
                        @Html.TextBoxFor(model => model.EmailID, new { @maxlength = 200, @id = "valEmail", @required = "required", @data_test_selector = "txtEmail", @title = @WebStore_Resources.LabelSubscriptionMailTittle, @alt = @WebStore_Resources.TitleEmail })
                        <label for="valEmail" placeholder="@WebStore_Resources.LabelSubscriptionMail" data-test-selector="lblEmail"><span>@WebStore_Resources.LabelSubscriptionMail</span></label>
                        <span id="valEmailErr" class="field-validation-error" data-test-selector="lblValEmailErrMsg"></span>
                    </div>
                    <div class="col-lg-12 nopadding">
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @id = "valPhoneNum", @required = "required", @data_test_selector = "txtPhoneNo", @title = @WebStore_Resources.LabelPhoneNumberTitle, @alt = @WebStore_Resources.LabelPhoneNumberAlt })
                        <label for="valPhoneNum" placeholder="@WebStore_Resources.LabelPhoneNumberContactUs" data-test-selector="lblPhoneNo"><span>@WebStore_Resources.LabelPhoneNumberContactUs</span></label>
                        @*<span id="valPhoneNumErr" class="field-validation-error" data-test-selector="lblValPhoneNoErrMsg"></span>*@
                    </div>

                    <div class="col-lg-12 nopadding">
                        @Html.TextAreaFor(model => model.Description, new { @id = "valComment", rows = "10", cols = "50", @required = "required", @data_test_selector = "txtDescription", @class = "TextBoxrogan", @title = @WebStore_Resources.LabelComments, @alt = @WebStore_Resources.LabelComments })
                        <label for="valComment" placeholder="@WebStore_Resources.LabelCommentsContactUs" data-test-selector="lblDescription" class="reviewlabelset"><span>@WebStore_Resources.LabelCommentsContactUs</span></label>
                        @*<span id="valCommentErr" class="field-validation-error" data-test-selector="lblValDescriptionErrMsg"></span>*@
                    </div>
                    <div class="col-sm-12 nopadding margin-top">
                        <div id="div-captcha">
                            @Html.ZnodeCaptcha()
                        </div>
                    </div>
                    <div class="col-lg-12 nopadding ContactUsButton margin-top">
                        <button type="submit" class="btn btn-primary" id="contact-us" data-test-selector="btnSubmit" alt="Submit">@WebStore_Resources.ButtonSubmit</button>
                    </div>
                    if (Model?.HasError ?? false && Model?.CaseRequestID > 0)
                    {
                        <div class="col-xs-12 nopadding">
                            @Html.Label("", WebStore_Resources.SuccessMessageContactUs)
                        </div>
                    }
                    else if (Model?.HasError ?? false)
                    {
                        <div class="col-xs-12 nopadding">
                            @Html.Label("", WebStore_Resources.MessageFailedToSendRequest)
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script async>
    //called when key is pressed in textbox
    $("#valPhoneNum").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });
    /* NIVI Code starts For ContactUs */
    $(document).ready(function () { $("#frmCreateCaseRequest").validate(), $("#valFirstName1").rules("add", { required: !1 }), $("#valLastName2").rules("add", { required: !1 }), $("#CompanyName").rules("add", { required: !1 }), $("#valEmail").rules("add", { required: !1 }), $("#valPhoneNum").rules("add", { required: !1 }), $("#valComment").rules("add", { required: !1 }) });
    /* NIVI Code end For ContactUs */

    $(document).ready(function () {
        var arr = $("#div-captcha").html().split("<br>");
        var string = '<label for="CaptchaInputText">' + arr[3] + ' *</label>';
        $("#div-captcha").html($("#div-captcha").html().replace(arr[3], string));
    });
</script>