﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductPriceViewModel


@if (HelperUtility.IsNotNull(Model) && Model.TierPriceList?.Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tier Quantity</th>
                <th>Price/Item</th>
                <th>You Save</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TierPriceList)
            {
                <tr>
                    <td data-test-selector="colQuantity">@Convert.ToDouble(item.Quantity)</td>

                    <td><span class="@Model.ObsoleteClass" data-test-selector="spnTierPrice">@Helper.FormatPriceWithCurrency(item.Price, Model?.CultureCode)</span> </td>
                    @* Calculates the % savings on tier pricing *@
                    <td>
                        @if (Model.ProductPrice != null)
                        {
                            <span data-test-selector="spnTierPercentSave">@Math.Ceiling((decimal)(100 - ((100 / Model.ProductPrice) * item.Price))) %</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

